
/* Styling for form container */

.payment-container{
    width: 400px;
    height: 100%;
}

#paymentForm {
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  
  @media(max-width: 768px){
    .payment-container {
        width: 100% !important;
    }
  }