body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Lato", sans-serif;
}


/* navbar headder start */

/* Customize the navbar-toggler */
.navbar-toggler.custom-toggler {
  border-radius: 5px !important;
  padding: 10px !important;
  outline: none !important;
  transition: all 0.3s ease-in-out !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

/* navbar */
.navbar-nav .nav-link {
  color: #dad6d6;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  padding: 10px !important;
}

.navbar-collapse {
  flex-grow: 0.2 !important;
}


.nav-item a:hover {
  color: #fff;
}

/* Style for the active nav link */
.navbar-nav>.active>a {
  color: #fff !important;
  background-color: #24A4F4;
  margin: 0;
}

.navbar .navbar-btn {
  padding: 10px 25px;
  font-size: 12px;
  margin: 0px 10px 0 5px;

}

/* Custom styles for dropdown */
.dropdown-menu {
  width: 90% !important;
  background: #fff;
  z-index: 9999999;
  padding: 15px !important;
  box-shadow: 0 7px 14px rgba(0, 0, 0, .33);
  left: 10% !important;
  right: 0%;
  -webkit-transition: all .2s linear 0s;
  -khtml-transition: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -ms-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
}

.dropdown-menu .row {
  display: flex;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-header {
  font-size: 22px !important;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 15px;
  color: #2d3c43;
  margin-bottom: 0;
  padding-top: 5px;
  font-weight: 600;
}

.dropdown-item {
  color: #485155 !important;
  line-height: 35px;
  font-weight: 500;
  transition: all .5s ease-in-out;
  font-size: 14px;
  text-transform: capitalize;
  padding: 5px 0px !important;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.dropdown-item:hover {
  color: #000 !important;
  background-color: transparent !important;
  padding-left: 15px !important;
}



/* Custom styles for mobile menu */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.country-badge {
  position: absolute;
  top: 12px;
  right: 0;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-badge span {
  font-size: 0.8em;
}

/* Media queries for responsiveness */
@media (max-width: 767px) {
  .navbar-brand img {
    max-width: 150px !important;
  }

  .navbar-nav .nav-link {
    padding: 10px 10px 15px 10px !important;
  }

  .dropdown-menu {
    width: 100% !important;
    margin-bottom: 20px !important;
  }

}



/* Hero section */
.hero-section {
  position: relative;
  background: url('../image/1.webp') no-repeat center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.page-top {
  margin-top: 10%;
}

.jumbotron.headBanner {
  position: relative;
  top: 15%;
  z-index: 2;
}


/* Social Links Styling (Fixed to the left edge of the screen) */
.social-links-left {
  top: 50%;
  left: 95%;
  z-index: 100;
  padding-left: 10px;
  transform: translateY(-50%);
  /* Ensures vertical centering */
}

.top-soc {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fb1 {
  background: #3b5998
}

.tw1 {
  background: #1da1f2
}

.sh1 {
  background: #4c4c4c
}

.yt1 {
  background: #c4210c
}

/* .li1 {
  background: #0077b5
}

.wa1 {
  background: #34af23
} */

/* .gp1 {
  background: #dd4b39
} */


.top-soc li {
  margin-right: 5px;
  margin-left: 0 !important;
}

.top-soc li a i {
  width: 60px;
  color: #fff;
  height: 30px;
  text-align: center;
  padding: 8px;
  border-radius: 1px;
  font-size: 14px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.font-quantico {
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.jumbotron .hieSM h1 {
  font-size: 2.5rem;
  color: #fff;
}

.jumbotron p {
  color: #ddd;
}

.jumbotron .fs-5 {
  font-size: 1.2rem !important;
}

.api_nu_high_con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 1rem; */
}

.api_nu_high {
  background: #f1f1f1;
  box-shadow: 0 0 6px 1px #787878;
  width: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0;
}

.btn__hold {
  justify-content: center;
  align-items: center;
}

.api_nu_high .btn__hold_logo {
  background-color: #e7e7e7;
  padding: 5px !important;
  border-radius: 5px;
  margin: 5px;
  width: 100px;
  border: 1px solid transparent !important;
  color: #000;
  font-size: 15px !important;
  transition: all 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btndated_logo {
  color: #16181a;
  display: inline-block;
  border: 4px solid #ff200024 !important;
  box-shadow: inset 0 0 2px 0 rgb(187 187 187 / 29%);
  padding: 0;
  height: 50px;
  width: 50px;
  font-size: .8rem;
  line-height: 1.5;
  margin: 3px 0;
  border-radius: 2.25rem;
  cursor: pointer;
}

.btn__hold_logo:hover,
.cat__btn_rise:hover {
  background-color: #ff200054;
  color: #fff !important;
  border: 1px solid #ff2000d1 !important
}

.btn__hold a {
  text-decoration: none;
}

.btn__hold_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* footer section */
.bg-footer {
  background-color: #000000;
  padding: 5px 0 30px;
  /* margin-top: 80px; */
  padding-bottom: 30px;
}

.bg-footer .foot1 a img {
  width: 220px;
}

.bg-footer .footer-single {
  margin-top: 30px;
  padding: 0 20px;
}

.bg-footer .footer-title {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}

.bg-footer .footer-single a {
  text-decoration: none
}

.bg-footer .footer-single h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
  margin-bottom: -2px
}

.bg-footer .footer-single li {
  padding: 2px;
}

.bg-footer .footer-single li a {
  color: #fff;
  font-size: 12px;
  padding: 6px 0;
  display: block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.bg-footer .footer-single li a:hover {
  color: #007bff;
}

.bg-footer .footer-single li a i {
  float: right !important;
}

.bg-footer .footer-single li a:hover i {
  color: #007bff
}

.bg-footer .useful-links li a {
  text-transform: uppercase
}

.bg-footer .footer-project a {
  font-size: 13px
}

.bg-footer .footer-project .footer-title {
  margin-top: 0
}

.bg-footer .footer-single p,
.footer-single address {
  color: #e7e7e7;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px
}

/* .foot4 {
  border-top: 1px solid #2b3842;
  padding-top: 50px;
  margin-bottom: -15px;
} */












/* mobile screen */
@media(max-width: 992px) {
  .jumbotron.headBanner {
    top: 5%;
  }

  .social-links-left {
    top: 50%;
    left: 93%;
  }

  /* .top-soc li {
    margin-bottom: 10px;
  }


  .top-soc li a i{
    height: 50px;
    padding: 20px 0;
  } */

  .btn__hold {
    padding: 9px;
    flex-wrap: wrap
  }

  .btn__hold li {
    padding: 10px;
    margin: 5px
  }

  .api_nu_high_con {
    width: 100%;
    padding: 0
  }

  .api_nu_high {
    width: 100%
  }

  .btndated_logo {
    height: 40px;
    width: 40px
  }

  .btn__hold_logo {
    padding: 8px !important;
    margin: 5px;
    height: 100px;
    font-size: 11px
  }

}

/* @media (min-width: 820px){
  .social-links-left {
    left: 92%;
  }
} */

@media (max-width: 767px) {
<<<<<<< HEAD
  .fixed-top {
    position: absolute !important;
  }
  
  .page-top{
=======
  .page-top {
>>>>>>> 291704dc51e99670120bbe6546cbe2139204ad15
    margin-top: 20%;
  }

  .hero-section {
    height: auto !important;
    /* padding: 2rem 0 !important; */
  }

  .jumbotron.headBanner {
    top: 20%;
  }

  .social-links-left {
    left: 90%;
    padding-left: 5px;
    transform: none;
  }


  .top-soc li {
    margin-right: 5px;
    margin-left: 0 !important;
  }

  .top-soc li a i {
    width: 50px;
    padding: 10px;
  }

  .jumbotron h1 {
    font-size: 2rem !important;
  }

  .jumbotron p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {}

@media (max-width: 480px) {
  .page-top {
    margin-top: 25%;
  }

  .social-links-left {
    left: 83%;
    top: 40%;
    padding-left: 5px;
    transform: none;
  }
}







.blog-container {
  display: grid;
  width: 95%;
  gap: 2rem;
  grid-template-columns: repeat(8, 1fr);
  margin-inline: auto;
}

.main-content {
  grid-column: span 6;
}

.sidebar {
  grid-column: span 2;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .sidebar-section {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    
    .blog-items {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
      .blog-list {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 1rem;
        padding: 1rem;
          list-style: none;

        img{
          width: 70px;
          height: 70px;
          object-fit: cover;
        }

        .blog-details {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 100%;

          a{
            font-size: 14px;
            text-decoration: none;
          }

          small{
            font-size: px;
          }
        }

      }
    }

    .cat{
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li{
        font-size: 14px;
        list-style: none;
        a{
          text-decoration: none;
          color: #666;
          text-transform: capitalize;
        }
      }
    }

    .tags{
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      a{
        text-decoration: none;
        display: flex;
        padding: .5rem;
        background: #ccc;
        font-size: 12px;
        color: #000000;
      }
    }
  }

}

.blog-post {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-bottom: 15px;
}

.blog-post h2 {
  color: #333;
  font-size: 24px;
  margin: 0 0 15px 0;
}

.blog-post p {
  color: #555;
  line-height: 1.6;
}

.read-more {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #6ec0ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.read-more:hover {
  background-color: #555;
}

  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    gap: 1rem;

  }

.pagination a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active {
    background-color: #333;
    color: white;
    border: 1px solid #333;
}


@media(width > 1200px){
  .blog-container{
    width: 1200px;
  }
}

@media(width < 990px){
  .blog-container{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
  }

  .sidebar{
    width: min(40rem, 100%);
  }
}